@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,500);

body {
    font-family: 'Ubuntu', 'Helvetica Neue', 'Helvetica', sans-serif;
    font-weight: 400;
}

.product-picture {
    float: left;
    height: 130px;
    margin-right: 10px;
}

.glyphicon-remove {
    float: right;
}

.well {
    margin-top: 1em;
    margin-left: 3em;
    margin-right: 50%;
}

.comment {
    margin-left: 3em;
    margin-right: 3em;
}

.product {
    padding: 1em;
    margin-top: 1em;
    margin-right: 3em;

}